<!DOCTYPE html>
<html lang="pt">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="assets/css/bootstrap.css" rel="stylesheet">
   <link href="assets/css/all.css" rel="stylesheet">
   <link href="assets/css/styles.css" rel="stylesheet">
   <title>Placas de vídeo</title>
</head>

<body>


   <nav class="navbar navbar-light barra navbar-expand-md fixed-top">
      <div class="container-fluid">
         <a class="navbar-brand" href="index.html"><img class="logo d-inline-block align-top"
               src="assets/images/Zamp Store - Logo (amarelo).png" width="90" height="90">
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="Botão de navegação">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="menu">
            <div class="navbar-nav mr-auto">
               <!--<div class="dropdown">
                  <a class="nav-link nav-item op dropdown-toggle text-center" data-toggle="dropdown"
                     style="color: black;" href="#"><img src="assets/images/cpu-svgrepo-com.svg" width="30" height="30">
                     Processadores</a>
                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="#">Soquete AM4</a>
                     <a class="dropdown-item" href="#">Soquete LGA 1151</a>
                     <a class="dropdown-item" href="#">Soquete LGA 1200</a>
                     <a class="dropdown-item" href="#">Soquete AM3+</a>
                  </div>
               </div>-->
               <a class="nav-link nav-item op text-center" style="color: black;" href="cpus.html"><img
                     src="assets/images/cpu-svgrepo-com.svg" width="30" height="30">
                  Processadores</a>
               <a class="nav-link nav-item op text-center" style="color: black;" href="mobo.html"><img
                     src="assets/images/motherboard-svgrepo-com.svg" width="30" height="30"> Placa mãe</a>
               <a class="nav-link nav-item op text-center" style="color: black;" href="gpus.html"><img
                     src="assets/images/placa-de-video.svg" width="30" height="30"> Placa de vídeo</a>
               <a class="nav-link nav-item op text-center" style="color: black;" href="#psu"><img
                     src="assets/images/energy-svgrepo-com.svg" width="30" height="30"> Fonte de alimentação</a>
               <a class="nav-link nav-item op text-center" style="color: black;" href="#case"><img
                     src="assets/images/pc-svgrepo-com.svg" width="30" height="30"> Gabinete</a>
               <a class="nav-link nav-item op text-center" style="color: black;" href="#ram"><i
                     class="fas fa-memory"></i> Memória RAM</a>
               <a class="nav-link nav-item op text-center" style="color: black;" onclick="mostrar('hdd')" href="#hdd"><i
                     class="far fa-hdd"></i> Disco rígido</a>
               <a class="nav-link nav-item op text-center" style="color: black;" href="#pcs"><img
                     src="assets/images/computer-svgrepo-com.svg" width="30" height="30"> Computadores</a>
            </div>
            <div class="navbar-nav ml-auto" style="padding: 40px;">
               <a class="nav-link nav-item text-center" style="color: black;" href="#carrinho"><img
                     src="assets/images/shopping-cart-svgrepo-com.svg" width="30" height="30"> Carrinho de compras</a>
               <a class="nav-link nav-item text-center" style="color: black;" href="#monte"><img
                     src="assets/images/wrench-tool-fix-repair-svgrepo-com.svg" width="30" height="30"> Monte o seu
                  PC</a>
               <a class="nav-link nav-item text-center" style="color: black;" href="#login"><i
                     class="fas fa-sign-in-alt"></i> Entrar</a>
            </div>
         </div>
      </div>
   </nav>
   <!--cards com modal-->
   <div class="container" style="padding-top: 150px ; padding-left: 100px;">
      <div class="row" style="padding: 20px;">
         <div class="col-sm" style="padding: 20px;">
            <div class="card" style="width: 18rem;">
               <img class="w-50 h-50" src="assets/images/asus gtx 1660 6GB tuf.jpg"
                  alt="Placa de video Asus GTX 1660 6GB TUF">
               <div class="card-body">
                  <h5 class="card-title">Placa de video Asus GTX 1660 6GB TUF</h5>
                  <p class="card-text">R$ 950,00</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary center" data-toggle="modal"
                     data-target="#asus-gtx1660-6g">
                     Detalhes
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="asus-gtx1660-6g" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">ASUS GTX 1660 6GB</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Características:<br>
                              <br>
                              - Marca: ASUS<br>
                              <br>
                              - Modelo: TUF-GTX1660S-O6G-GAMING<br>
                              <br>
                              <br>
                              <br>
                              DESTAQUES<br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              • OC Edition: Boost Clock 1860 MHz (modo OC) / 1830 MHz (modo de jogo)<br>
                              <br>
                              <br>
                              <br>
                              • A GeForce GTX 1660 SUPER é até 20% mais rápida que a original GTX 1660 e até 1,5X mais
                              rápida que a geração anterior GTX 1060 6GB.<br>
                              <br>
                              <br>
                              <br>
                              • Alimentada pela premiada arquitetura NVIDIA Turing e pela ultra-rápida memória GDDR6, é
                              um supercharger para os jogos mais populares da atualidade. Hora de se preparar e ficar
                              SUPER.<br>
                              <br>
                              <br>
                              <br>
                              • GDDR6 ultra-rápido com mais de 50% mais largura de banda de memória para jogos de alta
                              velocidade<br>
                              <br>
                              <br>
                              <br>
                              • Experiência GeForce: capture e compartilhe vídeos, capturas de tela e transmissões ao
                              vivo com os amigos. Mantenha seus drivers atualizados e otimize as configurações do
                              jogo.<br>
                              <br>
                              <br>
                              <br>
                              • O GeForce Experience permite fazer tudo, tornando-se o companheiro essencial para a sua
                              placa de vídeo GeForce.<br>
                              <br>
                              <br>
                              <br>
                              • O lubrificante de nível espacial traz a durabilidade dos rolamentos duplos para os
                              rolamentos de mancais.<br>
                              <br>
                              <br>
                              <br>
                              • Os heatpipes de cobre DirectCU III fazem contato direto com a matriz para melhor
                              refrigeração.<br>
                              <br>
                              <br>
                              <br>
                              • A resistência ao poeira IP5X oferece proteção contra a entrada de partículas para maior
                              durabilidade.<br>
                              <br>
                              <br>
                              <br>
                              • A tecnologia Auto-Extreme usa automação para aumentar a confiabilidade.<br>
                              <br>
                              <br>
                              <br>
                              • Um backplate de proteção protege os componentes durante o transporte e a instalação.<br>
                              <br>
                              <br>
                              <br>
                              • O teste de compatibilidade TUF garante que os componentes da TUF Alliance Gaming e TUF
                              Gaming trabalhem juntos com perfeição.<br>
                              <br>
                              <br>
                              <br>
                              • O programa de 144 horas de validação de coloca as placas em uma série de testes
                              rigorosos para garantir a compatibilidade com os jogos mais recentes.<br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              ESPECIFICAÇÕES:<br>
                              <br>
                              <br>
                              <br>
                              Processador Gráfico:<br>
                              <br>
                              - NVIDIA GeForce GTX 1660 SUPER<br>
                              <br>
                              <br>
                              <br>
                              Interface:<br>
                              <br>
                              - PCI Express 3.0<br>
                              <br>
                              - 2.7 slot<br>
                              <br>
                              <br>
                              <br>
                              Clock do Processador:<br>
                              <br>
                              - OC Mode - 1860 MHz (Boost Clock)<br>
                              <br>
                              - Gaming Mode (Default) - GPU Boost Clock: 1830 MHz , GPU Base Clock: 1530 MHz<br>
                              <br>
                              <br>
                              <br>
                              Memória:<br>
                              <br>
                              - Tipo: GDDR6<br>
                              <br>
                              - Capacidade: 6GB<br>
                              <br>
                              - Clock: 14002 MHz<br>
                              <br>
                              - Interface: 192-bits<br>
                              <br>
                              <br>
                              <br>
                              CUDA Core:<br>
                              <br>
                              - 1408<br>
                              <br>
                              <br>
                              <br>
                              Resolução:<br>
                              <br>
                              - 7680 x 4320 (digital)<br>
                              <br>
                              - Maximum Display: 3x<br>
                              <br>
                              <br>
                              <br>
                              Saídas:<br>
                              <br>
                              - 1x DVI-D (nativo)<br>
                              <br>
                              - 1x HDMI 2.0b (nativo)<br>
                              <br>
                              - 1x DisplayPort 1.4 (nativo)<br>
                              <br>
                              - HDCP 2.2<br>
                              <br>
                              <br>
                              <br>
                              Energia:<br>
                              <br>
                              - Recomendação: 450W<br>
                              <br>
                              - Power Connectors: 1x 8-pin<br>
                              <br>
                              <br>
                              <br>
                              Físico:<br>
                              <br>
                              - Dimensões: 26.4 x 13 x 5.5 cm<br>
                              <br>
                              <br>
                              <br>
                              Conteúdo da Embalagem:<br>
                              <br>
                              - Placa de Vídeo Asus<br>
                              <br>
                              - CD de Instalação<br>
                              <br>
                              - Guia do usuário<br>
                              <br>
                              <br>
                              Garantia<br>
                              3 anos de garantia<br>
                              (33 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia
                              legal, nos termos do artigo 26, II, do Código de Defesa do Consumidor)<br>
                              <br>
                              <br>
                              Peso<br>
                              1570 gramas (bruto com embalagem)
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                                 data-placement="top" data-content="Item Adicionado ao carrinho!">
                                 Adicionar ao carrinho
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm" style="padding: 20px;">
            <div class="card" style="width: 18rem;">
               <img class="w-50 h-50" src="assets/images/asus rtx 2060 6GB tuf.jpg"
                  alt="Placa de video Asus RTX 2060 6GB TUF">
               <div class="card-body">
                  <h5 class="card-title">Placa de video Asus RTX 2060 6GB TUF</h5>
                  <p class="card-text">R$ 950,00</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary center" data-toggle="modal"
                     data-target="#asus-rtx2060-6g">
                     Detalhes
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="asus-rtx2060-6g" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Placa de video Asus RTX 2060 6GB TUF
                              </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Características:<br>
                              <br>
                              - Marca: ASUS<br>
                              <br>
                              - Modelo: TUF-RTX2060-O6G-GAMING<br>
                              <br>
                              <br>
                              <br>
                              Especificações:<br>
                              <br>
                              <br>
                              <br>
                              DESTAQUES<br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              • NVIDIA TURING A arquitetura de GPU NVIDIA Turing e a nova plataforma RTX oferecem até 6X
                              o desempenho das placas de vídeo da geração anterior e trazem o poder de ray tracing em
                              tempo real e inteligência artificial para seus jogos.<br>
                              <br>
                              <br>
                              <br>
                              • O DirectX 12: potencializa novos efeitos visuais e técnicas de renderização para jogos
                              mais reais<br>
                              <br>
                              <br>
                              <br>
                              • NVIDIA Shadowplay: Grave e compartilhe vídeos de alta qualidade, capturas de tela e
                              livestreams com seus amigos.<br>
                              <br>
                              <br>
                              <br>
                              • As ventoinhas com rolamento duplo: podem durar até duas vezes mais do que os modelos com
                              rolamento convencionais.<br>
                              <br>
                              <br>
                              <br>
                              • A resistência contra poeira IP5X: oferece proteção contra a entrada de partículas para
                              melhor durabilidade.<br>
                              <br>
                              <br>
                              <br>
                              • A tecnologia Auto-Extreme usa automação para aumentar a confiabilidade.<br>
                              <br>
                              <br>
                              <br>
                              • Programa de validação de: 144 horas passa as placas através de uma série de testes
                              rigorosos para garantir a compatibilidade com os jogos mais recentes.<br>
                              <br>
                              <br>
                              <br>
                              • Os testes de compatibilidade TUF: garante que os componentes TUF Gaming e TUF Gaming
                              alliance trabalhem juntos sem falhas.<br>
                              <br>
                              <br>
                              <br>
                              • O GPU Tweak II: Fornece ajustes de desempenho intuitivos e controles térmicos.<br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              <br>
                              Interface:<br>
                              <br>
                              - PCI Express 3.0<br>
                              <br>
                              <br>
                              <br>
                              Chipset<br>
                              <br>
                              - Chipset Fabricante: NVIDIA<br>
                              <br>
                              - GeForce RTX 2060<br>
                              <br>
                              <br>
                              <br>
                              Engine Clock:<br>
                              <br>
                              - Clock Core: 1365 MHz<br>
                              <br>
                              - Impulsionar o clock: 1740 MHz (modo OC) / 1710 MHz (modo Gaming)<br>
                              <br>
                              - Stream Processors: 1920<br>
                              <br>
                              <br>
                              <br>
                              Memória:<br>
                              <br>
                              - Clock eficaz de Memória: 14000 MHz<br>
                              <br>
                              - Tamanho da memória: 6 GB<br>
                              <br>
                              - Interface de memória: 192 bits<br>
                              <br>
                              - Tipo de memória: GDDR6<br>
                              <br>
                              <br>
                              <br>
                              API 3D:<br>
                              <br>
                              - DirectX 12<br>
                              <br>
                              - OpenGL 4.5<br>
                              <br>
                              <br>
                              <br>
                              Portas:<br>
                              <br>
                              - 2 x HDMI 2.0<br>
                              <br>
                              - Suporte Multi-Monitor: 4<br>
                              <br>
                              - 1 x DisplayPort 1,4<br>
                              <br>
                              - 1 x DL-DVI-D<br>
                              <br>
                              <br>
                              <br>
                              Geral:<br>
                              <br>
                              - Resolução máxima: 7680 x 4320<br>
                              <br>
                              - Resfriador: Fan Dupla<br>
                              <br>
                              - PSU recomendada: 500W<br>
                              <br>
                              - Conector de força: 8 pinos<br>
                              <br>
                              - Compativel com HDCP: 2,2<br>
                              <br>
                              - Comprimento máximo da GPU: 204 mm<br>
                              <br>
                              <br>
                              <br>
                              Conteúdo da Embalagem:<br>
                              <br>
                              - Placa de Vídeo Asus<br>
                              <br>
                              - CD de Instalação<br>
                              <br>
                              - Guia do usuário<br>
                              <br>
                              <br>
                              Garantia<br>
                              3 anos de garantia<br>
                              (33 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia
                              legal, nos termos do artigo 26, II, do Código de Defesa do Consumidor)<br>
                              <br>
                              <br>
                              Peso<br>
                              1005 gramas (bruto com embalagem)
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                                 data-placement="top" data-content="Item Adicionado ao carrinho!">
                                 Adicionar ao carrinho
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm" style="padding: 20px;">
            <div class="card" style="width: 18rem;">
               <img class="w-50 h-50" src="assets/images/powercolor rx 550 2gb.jpg"
                  alt="Placa de video Powercolor RX 550 2GB">
               <div class="card-body">
                  <h5 class="card-title">Placa de video Powercolor RX 550 2GB</h5>
                  <p class="card-text">R$ 450,00</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary center" data-toggle="modal"
                     data-target="#powercolor-rx550-2g">
                     Detalhes
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="powercolor-rx550-2g" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Placa de video Powercolor RX 550 2GB
                              </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Características:<br>
                              <br>
                              - Marca: Powercolor<br>
                              <br>
                              - Modelo: AXRX 550 2GB64BD5-DH<br>
                              <br>
                              <br>
                              <br>
                              Especificações:<br>
                              <br>
                              <br>
                              <br>
                              Memória:<br>
                              <br>
                              - Capacidade: 2GB<br>
                              <br>
                              - Tipo: GDDR5<br>
                              <br>
                              - Clock: 1500MHz x4 (6.0 Gbps)<br>
                              <br>
                              - Interface: 64 bits<br>
                              <br>
                              <br>
                              <br>
                              GPU:<br>
                              <br>
                              - Processador de fluxo: 512 Unidades<br>
                              <br>
                              - Clock do motor: até 1071MHz<br>
                              <br>
                              <br>
                              <br>
                              Recursos:<br>
                              <br>
                              - DirectX 12<br>
                              <br>
                              - OpenGL<br>
                              <br>
                              - Tecnologia CrossFireX<br>
                              <br>
                              - Tecnologia AMD Stream<br>
                              <br>
                              - Tecnologia AMD Eyefinity<br>
                              <br>
                              <br>
                              <br>
                              Padrão de barramento:<br>
                              <br>
                              - PCIE 3.0<br>
                              <br>
                              <br>
                              <br>
                              Conectores de exibição padrão:<br>
                              <br>
                              - DL DVI-D<br>
                              <br>
                              - HDMI<br>
                              <br>
                              - DisplayPort<br>
                              <br>
                              <br>
                              <br>
                              Resolução Máxima:<br>
                              <br>
                              - DVI: 2560 x 1600<br>
                              <br>
                              - DisplayPort: 4096 x 2160<br>
                              <br>
                              - HDMI: 4096 x 2160<br>
                              <br>
                              <br>
                              <br>
                              Físico:<br>
                              <br>
                              - Dimensões da placa: 152 x 111,2 x 38 mm<br>
                              <br>
                              - Requisito mínimo de energia: 400W<br>
                              <br>
                              <br>
                              <br>
                              Conteúdo da Embalagem:<br>
                              <br>
                              - Placa de Vídeo PowerColor<br>
                              <br>
                              - Driver de Instalação<br>
                              <br>
                              - Guia do Usuário<br>
                              <br>
                              <br>
                              Garantia<br>
                              1 ano de garantia<br>
                              (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
                              nos termos do artigo 26, II, do Código de Defesa do Consumidor)<br>
                              <br>
                              <br>
                              Peso<br>
                              610 gramas (bruto com embalagem)
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                                 data-placement="top" data-content="Item Adicionado ao carrinho!">
                                 Adicionar ao carrinho
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" style="padding: 20px;">
         <div class="col-sm" style="padding: 20px;">
            <div class="card" style="width: 18rem;">
               <img class="w-50 h-50" src="assets/images/rx 570 gigabyte.png"
                  alt="Placa de video Gigabyte RX 570 4GB rev 2.0">
               <div class="card-body">
                  <h5 class="card-title">Placa de video Gigabyte RX 570 4GB rev 2.0</h5>
                  <p class="card-text">R$ 750,00</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary center" data-toggle="modal"
                     data-target="#gigabyte-rx570-4g-r2">
                     Detalhes
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="gigabyte-rx570-4g-r2" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Placa de video Gigabyte RX 570 4GB rev
                                 2.0</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Características:<br>
                              <br>
                              - Marca: Gigabyte<br>
                              <br>
                              - Modelo: GV-RX570GAMING-4GD<br>
                              <br>
                              <br>
                              <br>
                              Especificações:<br>
                              <br>
                              <br>
                              <br>
                              Processamento de Gráficos:<br>
                              <br>
                              - Chipset: Radeon RX570<br>
                              <br>
                              - Processadores de fluxo: 2048<br>
                              <br>
                              <br>
                              <br>
                              Clock Principal:<br>
                              <br>
                              - Modo OC: 1255MHz<br>
                              <br>
                              - Modo de jogo: 1244MHz<br>
                              <br>
                              <br>
                              <br>
                              Memória:<br>
                              <br>
                              - Clock: 7000 MHz<br>
                              <br>
                              - Capacidade: 4 GB<br>
                              <br>
                              - Tipo: GDDR5<br>
                              <br>
                              - Barramento: 256 bits<br>
                              <br>
                              <br>
                              <br>
                              Barramento de Cartão:<br>
                              <br>
                              - PCI-E 3.0 x16<br>
                              <br>
                              - Dimensões: 232 x 116 x 36 mm<br>
                              <br>
                              - PCB Form: ATX<br>
                              <br>
                              <br>
                              <br>
                              Exibição:<br>
                              <br>
                              - Resolução máxima digital: 7680 x 4320<br>
                              <br>
                              - Visualização Múltipla: 4x<br>
                              <br>
                              <br>
                              <br>
                              Recursos:<br>
                              <br>
                              - DirectX 12<br>
                              <br>
                              - OpenGL 4.5<br>
                              <br>
                              <br>
                              <br>
                              Energia:<br>
                              <br>
                              - PSU Recomendado: 450W<br>
                              <br>
                              - Conectores de Força: 1x 8-pin<br>
                              <br>
                              <br>
                              <br>
                              Conexões:<br>
                              <br>
                              - 3x DisplayPort 1.4<br>
                              <br>
                              - 1x HDMI 2.0b<br>
                              <br>
                              <br>
                              <br>
                              Conteúdo da Embalagem:<br>
                              <br>
                              - Placa de Vídeo Gigabyte<br>
                              <br>
                              - Guia rápido<br>
                              <br>
                              - CD do Driver<br>
                              <br>
                              <br>
                              Garantia<br>
                              1 ano de garantia<br>
                              (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
                              nos termos do artigo 26, II, do Código de Defesa do Consumidor)<br>
                              <br>
                              <br>
                              Peso<br>
                              990 gramas (bruto com embalagem)
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                                 data-placement="top" data-content="Item Adicionado ao carrinho!">
                                 Adicionar ao carrinho
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm" style="padding: 20px;">
            <div class="card" style="width: 18rem;">
               <img class="w-50 h-50" src="assets/images/galax gt 710.jpg" alt="Placa de video Galax GT 710 1GB GDDR3">
               <div class="card-body">
                  <h5 class="card-title">Placa de video Galax GT 710 1GB GDDR3</h5>
                  <p class="card-text">R$ 250,00</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary center" data-toggle="modal"
                     data-target="#galax-gt710-1gb">
                     Detalhes
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="galax-gt710-1gb" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Placa de video Galax GT 710 1GB GDDR3
                              </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Características:<br>
                              <br>
                              - Marca: GALAX<br>
                              <br>
                              - Modelo: 71GGF4DC00WG<br>
                              <br>
                              <br>
                              <br>
                              Especificações:<br>
                              <br>
                              <br>
                              <br>
                              Processamento Gráfico:<br>
                              <br>
                              - GeForce GT 710 GF119<br>
                              <br>
                              - Core: 48<br>
                              <br>
                              - TMUS: 8<br>
                              <br>
                              - ROPS: 4<br>
                              <br>
                              - Clock: 810 Mhz<br>
                              <br>
                              - Shader Clock - 1620 Mhz<br>
                              <br>
                              <br>
                              <br>
                              Memória:<br>
                              <br>
                              - Capacidade: 1 GB<br>
                              <br>
                              - Tipo: DDR3<br>
                              <br>
                              - Clock - 898 Mhz / 1796 Mhz eficaz<br>
                              <br>
                              - Bus: 64 bits<br>
                              <br>
                              - Largura de banda: 14.37 GB/s<br>
                              <br>
                              <br>
                              <br>
                              Design:<br>
                              <br>
                              - Largura do slot - slot único<br>
                              <br>
                              - 145 mm<br>
                              <br>
                              - TDP - 29 W<br>
                              <br>
                              - PCI-Express 2.0<br>
                              <br>
                              <br>
                              <br>
                              Saídas:<br>
                              <br>
                              - 1x DVI-D<br>
                              <br>
                              - 1x VGA<br>
                              <br>
                              - 1x HDMI<br>
                              <br>
                              <br>
                              <br>
                              Recursos Gráficos:<br>
                              <br>
                              - DirectX - 12.0 (11_0)<br>
                              <br>
                              - OpenGL - 4.6<br>
                              <br>
                              - OpenCL - 1.1<br>
                              <br>
                              - CUDA - 2.1<br>
                              <br>
                              - Shader Model - 5.1<br>
                              <br>
                              <br>
                              <br>
                              Conteúdo da Embalagem:<br>
                              <br>
                              - Placa de Vídeo Galax<br>
                              <br>
                              - Driver de Instalação<br>
                              <br>
                              - Espelho Low Profile<br>
                              <br>
                              - Guia do Usuário<br>
                              <br>
                              <br>
                              Garantia<br>
                              1 ano de garantia<br>
                              (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
                              nos termos do artigo 26, II, do Código de Defesa do Consumidor)<br>
                              <br>
                              <br>
                              Peso<br>
                              350 gramas (bruto com embalagem)
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                                 data-placement="top" data-content="Item Adicionado ao carrinho!">
                                 Adicionar ao carrinho
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm" style="padding: 20px;">
            <div class="card" style="width: 18rem;">
               <img class="w-50 h-50" src="assets/images/msi gt1030 2GB.jpg" alt="Placa de video MSI GT 1030 2GB GDDR5">
               <div class="card-body">
                  <h5 class="card-title">Placa de video MSI GT 1030 2GB GDDR5</h5>
                  <p class="card-text">R$ 450,00</p>
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary center" data-toggle="modal"
                     data-target="#msi-gt1030-2gd5">
                     Detalhes
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="msi-gt1030-2gd5" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Placa de video MSI GT 1030 2GB GDDR5
                              </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              Características:<br>
                              <br>
                              - Marca: MSI<br>
                              <br>
                              - Modelo: GeForce GT 1030 2G LP OC<br>
                              <br>
                              <br>
                              <br>
                              Especificações:<br>
                              <br>
                              <br>
                              <br>
                              Unidade de Processamento Gráfico:<br>
                              <br>
                              - GeForce GT 1030 2G LP OC<br>
                              <br>
                              - Core: 384 Unidades<br>
                              <br>
                              <br>
                              <br>
                              Interface:<br>
                              <br>
                              - PCI Express 3.0 x16<br>
                              <br>
                              <br>
                              <br>
                              Clock:<br>
                              <br>
                              - Impulso: 1518 MHz / 1265 MHz<br>
                              <br>
                              <br>
                              <br>
                              Memória:<br>
                              <br>
                              - Clock: 6008 Mhz<br>
                              <br>
                              - Capacidade: 2GB<br>
                              <br>
                              - Tipo: GDDR5<br>
                              <br>
                              - Barramento: 64 bits<br>
                              <br>
                              <br>
                              <br>
                              Portas de Conexão:<br>
                              <br>
                              - 1x DisplayPort (v1.4)<br>
                              <br>
                              - 1x HDMI 2.0b<br>
                              <br>
                              - Suporte HDCP 2.2<br>
                              <br>
                              <br>
                              <br>
                              Alimentação:<br>
                              <br>
                              - Consumo de Energia: 30W<br>
                              <br>
                              - PSU Recomendado: 300W<br>
                              <br>
                              <br>
                              <br>
                              Físico:<br>
                              <br>
                              - Dimensões: 159 x 69 x 19 mm<br>
                              <br>
                              <br>
                              <br>
                              Recursos:<br>
                              <br>
                              - DirectX 12 API<br>
                              <br>
                              - OpenGL 4.5<br>
                              <br>
                              <br>
                              <br>
                              Exibição:<br>
                              <br>
                              - Capacidade Máxima: Até 2x monitores<br>
                              <br>
                              - Resolução Digital: 7680 x 4320 (máxima)<br>
                              <br>
                              <br>
                              <br>
                              Recursos:<br>
                              <br>
                              - Pronto para VR<br>
                              <br>
                              - Tecnologia G-SYNC<br>
                              <br>
                              - Sincronização vertical Adaptativa<br>
                              <br>
                              <br>
                              <br>
                              Conteúdo da Embalagem:<br>
                              <br>
                              - Placa de Vídeo MSI<br>
                              <br>
                              - Guia do Usuário<br>
                              <br>
                              <br>
                              Garantia<br>
                              1 ano de garantia<br>
                              (9 meses de garantia contratual junto ao fabricante + 3 meses referentes à garantia legal,
                              nos termos do artigo 26, II, do Código de Defesa do Consumidor)<br>
                              <br>
                              <br>
                              Peso<br>
                              325 gramas (bruto com embalagem)
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                              <button type="button" class="btn btn-primary" data-container="body" data-toggle="popover"
                                 data-placement="top" data-content="Item Adicionado ao carrinho!">
                                 Adicionar ao carrinho
                              </button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
   <div class="sidenav" style="padding-top: 190px;">
      <p>Filtros de busca</p>
      <a href="#">Marca:</a>
      <a href="#">Ordenar por:</a>
      <a href="#">Memória:</a>
      <a href="#">Série:</a>
   </div>
   <div style="bottom: 0px; padding-left: 50%;">
      <ul class="pagination justify-content-center" style="bottom: 0px; width: 100px; height: 40px;">
         <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
         </li>
         <li class="page-item"><a class="page-link" href="#">1</a></li>
         <li class="page-item"><a class="page-link" href="#">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item">
            <a class="page-link" href="#">Próximo</a>
         </li>
      </ul>
   </div>
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-xl-4 col-lg-3 col-sm-7" style="text-align: center;">
               <h5>FAQ</h5>
               <ul class="list-unstyled">
                  <li><a href='#'>FAQ - Orientações</a></li>
               </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-5" style="text-align: center;">
               <h5>Minha conta</h5>
               <ul class="list-unstyled">
                  <li><a href='#'>Login</a></li>
                  <li><a href='#'>Pedidos</a></li>
                  <li><a href='#'>Dados</a></li>
               </ul>
            </div>

            <div class="col-xl-3 col-lg-3 col-sm-7" style="text-align: center;">
               <h5>Sobre a empresa</h5>
               <ul class="list-unstyled">
                  <li><a href='#'>História</a></li>
                  <li><a href='#'>Política do Site</a></li>
                  <li><a href='#'>Parceiros</a></li>
               </ul>
            </div>

            <div class="col-xl-2 col-lg-3 col-sm-5" style="text-align: center;">
               <h5>Contato</h5>
               <ul class="list-unstyled">
                  <li><i class="fas fa-user" style="color: white;"></i> Arthur</li>
                  <li><i class="fas fa-phone" style="color: white;"></i> (99)96666-6666</li>
                  <li><i class="fas fa-envelope-square"></i> <a
                        href='mailto:arthurpimentelzampirolli@gmail.com'>arthurpimentelzampirolli@gmail.com</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <script src="assets/js/jquery-3.3.1.js"></script>
   <script src="assets/js/popper.js"></script>
   <script src="assets/js/bootstrap.js"></script>
   <script src="assets/js/script.js"></script>
</body>

</html>